/*
*  @section  Variables
*/

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$default-font: 'Abel', sans-serif;

$primary: #00C8FF;
$secondary: #B2B2B2;
$contrast: #fff;
$default: #000;
$border-radius-base: 5px;
$border-radius-large: 10px;